.box {
  font-family: Papyrus, fantasy;
  width: 90%;
  max-width: 480px;
  display: flex; /* Added to make flexbox properties effective */
  flex-direction: column; /* Aligns children vertically */
  align-items: center; /* Center aligns children horizontally */
  justify-content: center; /* Centers children vertically */
  background-color: rgba(140, 122, 122, 0.8);
  padding: 20px;
  border-radius: 8px;
  margin: auto; /* Optionally center the box on the page horizontally */
  margin-top: 50px; /* Optionally add some space at the top */
}

@media (max-width: 600px) {
  .box {
    padding: 10px;
    margin-top: 20px;
  }
}

.card {
  padding: 2em;
}

