#root {
  margin: 0;
  padding: 0;
  height: 100%; /* Allow children to define their height */
  width: 100%; /* Allow children to define their width */
  display: flex;
  flex-direction: column;
}

.App-content {

  height: 100%; /* Full viewport height */
  width: 100%; /* Full viewport width */
  
  
}




.read-the-docs {
  color: #888;
}




