 #root {
  background-image: url('./assets/siteclosed.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  margin: 0;
  height: 100vh; 
  width: 100%;
}



.read-the-docs {
  color: #888;
}




